h1, h2 {
	text-align: center;
}

p.intro {
	font-style: italic;
}

p.intro-quote {
	font-weight: bold;
	margin-left: 2.5em;
}

p.blockquote {
	font-style: italic;
	margin-left: 2.5em;
}

