h1, h2 {
	text-align: center;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.indent {
	margin-left: 2.5em;
	margin-right: 2.5em;
}

.double-indent {
	margin-left: 5em;
}